<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="Mode" value="Interval"/>
    <!-- <add key ="Mode" value ="Daily"/>-->
    <add key="IntervalMinutes" value="1"/>
    <add key="ScheduledTime" value="00:00"/>
    <add key="log4net.Internal.Debug" value="true" />
    <add key="KernelModuleName" value="JKMWindowsService.Binding"/>
    <add key="Count" value="10"/>
    <add key="MaximumRowCount" value ="10"/>
    <add key="DifferenceForTimeStartInMinutes" value="30"/>
    <add key="StartTimeForBeginOfService" value="10.00"/>
    <add key="StartTimeForEndOfService" value="17.00"/>
  </appSettings>
  <system.diagnostics>
    <trace autoflush="false">
      <listeners>
        <add name="textWriterTraceListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="logs/log4net.txt" />
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>