<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="RazorEngine" publicKeyToken="9ee697374c7e744a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.10.0.0" newVersion="3.10.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.net>
    <mailSettings>
      <smtp from="ranjana.singh@1rivet.com">
        <network host="smtp.office365.com" port="587" userName="ranjana.singh@1rivet.com" password="ranjana@1892" enableSsl="true" />
      </smtp>
    </mailSettings>
  </system.net>
</configuration>