<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="JKMDBContext" connectionString="Data Source=13.92.188.152;Initial Catalog=JKMoving;Integrated Security=False;User ID=loaniqsql;Password=loaniq@sapwd;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="UserName" value="hiral.balar" />
    <add key="Password" value="3yugax\C1A" />
    <add key="DomainName" value="jkms" />
    <add key="BaseAddress" value="https://edenbeta.jkmoving.com/ClientApp/api/data/v8.2/" />
    <add key="OTPValidTill" value="2" />
    <add key="ServiceAuthUsername" value="admin" />
    <add key="ServiceAuthPassword" value="admin" />
    <add key="KernelModuleName" value="JKMWCFService.Binding" />
    <add key="DocumentName" value="Estimate.pdf" />

    <!--Email Configurations-->
    <add key="0001_toRecipients" value="" />
    <add key="0001_bccRecipients" value="" />
    <add key="0001_ccRecipients" value="" />
    <add key="0001_Subject" value="JK Moving Services" />
    <add key="0001_TemplatePath" value="Templates\Verification.cshtml" />
    <add key="0001_TemplateName" value="JKMServices.BLL.EmailEngine.ExceptionTemplate" />

    <add key="0002_toRecipients" value="" />
    <add key="0002_bccRecipients" value="" />
    <add key="0002_ccRecipients" value="" />
    <add key="0002_Subject" value="JK Moving Services" />
    <add key="0002_TemplatePath" value="Templates\EstimateDetailsUpdated.cshtml" />
    <add key="0002_TemplateName" value="JKMServices.BLL.EmailEngine.ExceptionTemplate" />

    <add key="0003_toRecipients" value="" />
    <add key="0003_bccRecipients" value="" />
    <add key="0003_ccRecipients" value="" />
    <add key="0003_Subject" value="JK Moving Services" />
    <add key="0003_TemplatePath" value="Templates\MoveStatusUpdated.cshtml" />
    <add key="0003_TemplateName" value="JKMServices.BLL.EmailEngine.ExceptionTemplate" />

    <add key="0004_toRecipients" value="" />
    <add key="0004_bccRecipients" value="" />
    <add key="0004_ccRecipients" value="" />
    <add key="0004_Subject" value="JK Moving Services" />
    <add key="0004_TemplatePath" value="Templates\MoveStatus-NeedsOverride.cshtml" />
    <add key="0004_TemplateName" value="JKMServices.BLL.EmailEngine.ExceptionTemplate" />

    <!--SMTP Configurations-->
    <add key="sender" value="ranjana.singh@1rivet.com" />
    <add key="smtpuser" value="ranjana.singh@1rivet.com" />
    <add key="smtppassword" value="ranjana@1892" />
    <add key="smtphost" value="smtp.office365.com" />
    <add key="smtpport" value="587" />
    <add key="isSSL" value="true" />
    <add key="JKMOVING_LOGO" value="Logo\logo_jkmoving.png" />
    <add key="JKMOVING_Image" value="Logo\header.png" />
    <add key="log4net.Internal.Debug" value="true" />
    <add key="mockedPdfPath" value="Assets\pdf-sample.pdf" />
    <add key="basePathForSharepoint" value="https://sharepoint13.jkmoving.com/jkmoving_move/"/>
  </appSettings>
  <system.diagnostics>
    <trace autoflush="false">
      <listeners>
        <add name="textWriterTraceListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="logs/log4net.txt" />
      </listeners>
    </trace>
  </system.diagnostics>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1" />
  </system.web>
  <system.serviceModel>
    <services>
      <service name="JKMWCFService.Customer" behaviorConfiguration="serviceBehavior">
        <endpoint binding="webHttpBinding" contract="JKMWCFService.ICustomer" behaviorConfiguration="RESTEndpointBehavior" />
      </service>
      <service name="JKMWCFService.Alert" behaviorConfiguration="serviceBehavior">
        <endpoint binding="webHttpBinding" contract="JKMWCFService.IAlert" behaviorConfiguration="RESTEndpointBehavior" />
      </service>
      <service name="JKMWCFService.Move" behaviorConfiguration="serviceBehavior">
        <endpoint binding="webHttpBinding" contract="JKMWCFService.IMove" behaviorConfiguration="RESTEndpointBehavior" />
      </service>
      <service name="JKMWCFService.Payment" behaviorConfiguration="serviceBehavior">
        <endpoint binding="webHttpBinding" contract="JKMWCFService.IPayment" behaviorConfiguration="RESTEndpointBehavior" />
      </service>
      <service name="JKMWCFService.Document" behaviorConfiguration="serviceBehavior">
        <endpoint binding="webHttpBinding" contract="JKMWCFService.IDocument" behaviorConfiguration="RESTEndpointBehavior" />
      </service>
      <service name="JKMWCFService.Estimate" behaviorConfiguration="serviceBehavior">
        <endpoint binding="webHttpBinding" contract="JKMWCFService.IEstimate" behaviorConfiguration="RESTEndpointBehavior" />
      </service>
    </services>
    <bindings>
      <webHttpBinding>
        <binding name="webHttpBinding_IJKMService"></binding>
      </webHttpBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="RESTEndpointBehavior">
          <webHttp />
          <!--faultExceptionEnabled="true"-->
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="serviceBehavior">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceAuthorization serviceAuthorizationManagerType="JKMWCFService.RestAuthorizationManager, JKMWCFService" />
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true" />
  </system.webServer>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="RazorEngine" publicKeyToken="9ee697374c7e744a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.10.0.0" newVersion="3.10.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime> 
</configuration>