<?xml version="1.0" encoding="utf-8" ?>
<configuration>
<appSettings>
  <!--SMTP Configurations-->
  <!--
    <add key ="sender" value="vivek.bhavsar@1rivet.com"/>
    <add key ="smtpuser" value="vivek.bhavsar@1rivet.com"/>
    <add key ="smtppassword" value="vivek@css"/>
    <add key ="smtphost" value="smtp.office365.com"/>
    <add key ="smtpport" value="587"/>
    <add key ="isSSL" value="true"/>
    
    <add key="Mode" value="Interval"/>
    <!-- <add key ="Mode" value ="Daily"/>-->
    <add key="IntervalMinutes" value="3"/>
    <add key="ScheduledTime" value="00:00"/>
  </appSettings> 
  <configSections>
    <section name="MessageEncryption" type="ArtisanCode.SimpleAesEncryption.SimpleAesEncryptionConfiguration, ArtisanCode.SimpleAesEncryption"/>
  </configSections>
  <MessageEncryption>
    <EncryptionKey KeySize="256" Key="GRE5sAmmndnu0t3h1+OzMNfrGHoVn2mdy44qISfVJqs="/>
  </MessageEncryption>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <system.net>
    <mailSettings>
      <smtp from="ranjana.singh@1rivet.com" >
        <network host="smtp.office365.com"
                 port="587"
                 userName="ranjana.singh@1rivet.com"
                 password="ranjana@1892"
                 enableSsl="true"
                 />
      </smtp>
    </mailSettings>
  </system.net>
</configuration>